.menuContainer {
	background-color: #337DFF;
	width: 200px;
	margin: 8px;
	border-radius: 12px;
}

.items {
	margin-top: 60px;
	margin-left: 12px;
}

.menuItem {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	width: 100%;
}

.menuItem:hover {
	background-color: #FFFFFF;
	cursor: pointer;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.menuItem:hover .menuLabel {
	background-color: #FFFFFF;
	color: #337DFF;
}

.menuItemActive {
	background-color: #19b43a;
	color: #337DFF;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.menuLabel {
	font-size: 16px;
	font-weight: bold;
	color: #FAFAFA;
	margin-left: 10px;
	margin-right: 10px;
}

.menuLabel:hover {
	text-decoration: none;
	cursor: pointer;
}